#project-index li {
    padding: 0;
}

#project-index li a {
    padding-bottom: 0;
}

#project-index li .description {
    height: 70px;
    width: 320px;
    background: #000;
    z-index: 2;
    position: absolute;
    bottom: -1px;
    opacity: 0.8;
    
    color: white;
    font-family: Helvetica;
    font-weight: normal;
}

#project-index li .description span {
    display: block;
}

#project-index li .description .title {
    float: left;
    font-size: 30px;
    font-weight: bold;
    height: 30px;
    margin-right: 5px;
    letter-spacing: -3px;
}

#project-index li .description .rating {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: -3px;
}

#project-index li .description .author {
    height: 20px;
}